extends ./commons/template.pug

block style
  include ./styles/ogImage.css

block template
  .shade
    .article-image(style="background-image: url(" + image + ")")
      .push-bottom
        .author-data
          img(src=author.img)
          .author
            .name #{author.name}
            .desc #{author.desc}
        .article-data
          h1 #{title}
          p  #{description}